{{!< layout }}

<link rel="stylesheet" href="/configure.css" media="all">
<section id="content" role="main" ng-app="hearsay" ng-controller="ConfigCtrl" ng-cloak>

  <header class="aui-page-header">
    <div class="aui-page-header-inner">
      <div class="aui-page-header-main">

        <div class="aui-toolbar2">
          <div class="aui-toolbar-2-inner">
            <div class="aui-toolbar2-primary">
              <div class="aui-buttons">
                <button class="aui-button aui-button-compact" ng-click="addListener()">
                  <span class="aui-icon aui-icon-small aui-iconfont-add">Add</span>
                  Add Listener
                </button>
              </div>
            </div>
            <div class="aui-toolbar2-secondary">
              <div class="aui-buttons">
              </div>
            </div>
            <div class="aui-toolbar2-tertiary">
              <div class="aui-buttons">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="aui-page-panel">
    <div class="aui-page-panel-inner">
      <!-- Navigation -->
      <div class="aui-page-panel-nav">
        <nav class="aui-navgroup aui-navgroup-vertical">
          <div class="aui-navgroup-inner">
            <div class="aui-navgroup-primary">
              <div class="aui-nav-heading">Listeners</div>
              <ul id="listeners" class="aui-nav">
                <li ng-repeat="item in listeners"
                    ng-class="{'aui-nav-selected':isActiveListener(item), dirty: isDirtyListener(item)}"
                    ng-click="showListener(item)">
                  <a href="" title="[[item.name]]">[[item.name]]</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <!-- Content -->
      <section id="listener-config" class="aui-page-panel-content">
        <div>
          <div class="section-content" ng-show="!listener">
            <p>
              Hearsay needs you to add listeners before it will do anything.<br>
              Why not <a href="" ng-click="addListener()">add one now</a>?
            </p>
          </div>
          <div ng-show="listener">
            <div class="section-header">
              <h5>Listener Configuration</h5>
            </div>
            <div class="section-content" ng-show="listener">
              <form class="aui top-label">
                <fieldset class="top-label">
                  <div class="aui-group">
                    <div class="aui-item aui-item-one-third">
                      <div class="field-group top-label">
                        <label for="name">Name<span class="aui-icon icon-required"> required</span></label>
                        <input class="text" type="text" name="name" ng-model="listener.name" ng-change="listenerChanged()">
                      </div>
                    </div>
                    <div class="aui-item aui-item-two-thirds">
                      <div class="field-group top-label">
                        <label for="pattern">Pattern<span class="aui-icon icon-required"> required</span></label>
                        <input class="text" type="text" name="pattern" ng-model="listener.pattern"
                               ng-focus="patternFocused($event, listener)" ng-change="listenerChanged()">
                      </div>
                    </div>
                  </div>
                  <div class="field-group top-label">
                    <label for="responses">Responses<span class="aui-icon icon-required"> required</span></label>
                    <textarea class="textarea" rows="5" name="responses" ng-model="listener.responses" ng-change="listenerChanged()"></textarea>
                    <div class="description">One response per line. Responses are selected randomly from this list.</div>
                  </div>
                  <div class="buttons-container">
                    <div class="buttons">
                      <input class="button submit" type="submit" value="Save"
                             ng-disabled="!isValidListener(listener)"
                             ng-click="saveListener(listener)">
                      <a class="delete" href="#" ng-click="deleteListener(listener)">Delete</a>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
    </div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script src="/configure.js"></script>
