<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="local-base-url" content="{{localBaseUrl}}">
  <meta name="auth-token" content="{{authToken}}">
  <title>Configure</title>
  <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.6.16/css/aui.css" media="all">
  <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.6.16/css/aui-experimental.css" media="all">
  <!--[if lt IE 9]><link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.6.16/css/aui-ie.css" media="all"><![endif]-->
  <!--[if IE 9]><link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.6.16/css/aui-ie9.css" media="all"><![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <!-- <script src="https://aui-cdn.atlassian.com/aui-adg/5.6.16/js/aui-soy.js" type="text/javascript"></script> -->
  <script src="https://aui-cdn.atlassian.com/aui-adg/5.6.16/js/aui.js" type="text/javascript"></script>
  <!--[if lt IE 9]><script src="https://aui-cdn.atlassian.com/aui-adg/5.6.16/js/aui-ie.js"></script><![endif]-->
  <script src="{{tenantScriptUrl}}" type="text/javascript"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
