html, body {
  margin: 0;
  padding: 0;
  background: #fff;
}

#content .aui-page-header {
  padding: 0 0 20px 0;
}

#content .aui-page-panel-nav {
  padding: 20px 20px 20px 0;
}

#content .aui-toolbar2-primary > .aui-buttons,
#content .aui-toolbar2-secondary > .aui-buttons,
#content .aui-toolbar2-tertiary > .aui-buttons,
#content .aui-toolbar2 .aui-button {
  margin-top: 0;
}

#content .aui-toolbar2-primary {
  display: inline-block;
  float: left;
}

#content .aui-toolbar2-secondary {
  display: inline-block;
  float: none;
}

#content .aui-toolbar2-tertiary {
  display: inline-block;
  float: right;
}

#content .aui-page-panel-nav {
  width: 180px;
}

form.aui .delete {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  vertical-align: baseline;
}

form.aui .text,
form.aui .textarea {
  width: 100%;
  max-width: 1000px;
}

.aui-item.aui-item-one-third {
  width: 33%;
}

.aui-item.aui-item-two-thirds {
  width: 67%;
}

#listener-config {
  background: #f7f7f7;
}

.aui-nav li.dirty a,
.aui-nav li.aui-nav-selected.dirty a {
  color: #d04437;
}

